<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2016新生专题</title>
	<link rel="stylesheet" href="/dist/css/history.css">
	<link rel="stylesheet" href="/dist/css/home.css">
</head>
<body>
	{% block content %}{% endblock %}
	<div class="muxi">MUXI STUDIO</div>
	<footer>
		<div class="bottom">
			<div class="link">
				<div><a href="#">关于木犀</a></div>
				<div class="link_s"><a href="#">下载APP</a></div>
				<div class="link_s"><a href="#">加入我们</a></div>
			</div>
			<div class="ihuada">
				<img src="../src/images/ihuada.png" alt="i华大公众号">
				<div class="i">关注i华大公众号</div>
			</div>
			<div class="ihuada">
				<img src="../src/images/guisheng.png" alt="i华大公众号">
				<div class="i">关注华大桂声公众号</div>
			</div>
		</div>
	</footer>
	<script src="../dist/js/jquery.js"></script>
	<script src="../dist/js/modernizr.custom.js"></script>
	<script src="../dist/js/banner.js"></script>
</body>
</html>