<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>news</title>
	<link rel="stylesheet" href="../dist/css/history.css">
</head>
<body>
	<div class="head">
		<img src="../src/images/logo.png" alt="logo">
	</div>
	<div class="_title">
		<div class="font_title"></div><div class="title">校园新资讯</div>
	</div>
	<div class="content">
		<div class="article">
			<div class="title">文章标题</div>
			<div class="author">佚名</div>
			<div class="date">2016/07/30</div>
			<div class="essay">
				&emsp;&emsp;这是一篇文章或者某个关键词，也可能是一篇通知、一篇公告，或者用来放图片。。内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内。<br>
				&emsp;&emsp;假装有很多内容，内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。
			</div>
		</div><div class="side">
			<div class="ad"><img src="" alt="">
			<div class="ads">广告位</div></div>
			<div class="weibo">
				<div class="title">新浪微博</div>
				<div class="wb">
					<div class="logo">
					<div class="log"><img src="../src/images/huagui.png" alt=""></div><div class="guisheng">华大桂声</div>
				</div>
				<div class="button"><a href="#" class="bu">+&emsp;关注</a></div>
				<div class="comment">
					<div class="news">
					#早安，桂子山#武汉首波高温热浪将来袭，“蒸笼”模式开启了！桂 桂的内心是这样的XX，在武汉的山民们要注意身体呀不要中暑了~（其实其他地方也一样很热，大家都要注意[可爱]）
					</div>
					<div class="bot">
						<div class="time">今天08：27</div><div class="forward">
						<a href="#" >转发(6)</a><a href="#" class="fa">评论(4)</a></div>
					</div>
				</div>
				<div class="next_button"><img src="../src/images/button.png"></div>
				</div>
				
				
			</div>
		</div>
	</div>
	<div class="muxi">MUXI STUDIO</div>
		<div class="bottom">
			<div class="link">
				<div><a href="#">关于木犀</a></div>
				<div class="link_s"><a href="#">下载APP</a></div>
				<div class="link_s"><a href="#">加入我们</a></div>
			</div>
			<div class="ihuada">
				<img src="../src/images/ihuada.png" alt="i华大公众号">
				<div class="i">关注i华大公众号</div>
			</div>
			<div class="ihuada">
				<img src="../src/images/guisheng.png" alt="i华大公众号">
				<div class="i">关注华大桂声公众号</div>
			</div>
		</div>
</body>
</html>